/*
* File for the input of css for tailwindcss 
* Created: 12/07/2025
*/

@import "tailwindcss";
@plugin '@midudev/tailwind-animations';

/* basic colors and fonts that will be used */
@theme{
  --color-primary: #1a1a18;
  --color-secondary: #e0e0e0;
  --spacing: 1px;
}

@layer components{
  /* outside part of the menu lists*/
  .outsideCard{
    @apply flex border-1 items-center justify-between border-secondary rounded-2xl w-330 h-78 
  }

  /* inside part of the menu lists without space */
  .insideCard{
    @apply flex flex-col items-center justify-center w-211 
  }

  /* inside part of the menu lists with space */
  .insideCardSpace{
   @apply flex flex-col items-center justify-center space-y-7 w-211 
  }

  /* for all of the drinks */
  .drinks{
    @apply flex flex-col items-center justify-center border-1 border-secondary rounded-2xl w-337 h-68 space-y-6
  }

  /* all of the menu images */
  .menuimg{
    @apply border-1 object-cover border-secondary rounded-r-2xl w-100 h-78
  }

  /* menu buttons */
  .menubut{
    @apply w-364 h-70 rounded-3xl bg-secondary sticky top-60 z-10
  }

  /* content inside the button */
  .inbut{
    @apply flex justify-around items-center space-x-100
  }

  /* the header inside the button */
  .hbut{
    @apply text-primary text-[20px] text-left w-170
  }
}

@layer base{
  h2{
   @apply text-secondary text-[14px] 
  }

  p{
    @apply text-secondary text-[11px] whitespace-pre 
  }
}
